{{>header}}
        <h1>{{ title }}</h1>
        <h2>{{ name }}</h2>
        <form id="userInput" method="post">
                <input name="first" placeholder="input something">
                <button type="submit">Submit</button>
        </form>
{{>footer}}