{{>header}}
    <h1>Check the Weather!</h1>
    <form method="get" action="/weather-response">
        <input name="address" placeholder="enter a US city">
        <button type="submit">Submit</button>
    </form>
{{>footer}}