<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
    <body>
        <header>
            <a href="/">Home</a>
            <a href="/form">Form</a>
            <a href="/help">Help</a>
            <a href="/about">About</a>
        </header>