<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
    <body>
        <header>
            <h1>DGM 3760</h1>
            <h2>Final Project</h2>
            <h3>Fall 2019</h3>
            <nav>
                <a href="/">Home</a>
                <a href="/form">Form</a>
                <a href="/search">Search Database</a>
                <a href="/weather">Weather</a>
                <a href="/about">About</a>
            </nav>            
        </header>
        <main>